/* Clearfix */
/* .clearfix:before, .clearfix:after { content: ""; display: table; } */
/* .clearfix:after { clear: both; } */
/* .clearfix { zoom: 1; } */

/* #buttons { */
/*     width: 100%; */
/*     margin: 0 auto; */
/* } */
/* #traceControl { */
/*     float: left; */
/* } */
/* .paragraph { */
/*     float: left; */
/* } */
#player {
    display: inline-block;
    border: 3px solid #666;
    width: 20%;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 0.5px solid #666;
    /* position: relative; */
    /* top: 50%; */
    /* overflow: auto; */
}
#stopConditions {
    display: inline;
}
/* #commands { */
/*     /\* border: 3px solid #666; *\/ */
/*     width: 45%; */
/*     float: left; */
/*     margin: 5px; */
/*     padding: 5px; */
/*     position: relative; */
/*     top: 50%; */
/*   /\* transform: translateY(-50%); *\/ */
/*     overflow: auto; */
/* } */
#opsLog{
    width: 100%;
    margin: 0 auto;
}
/* #execution { */
/*     display: flex; */
/*     flex-direction: column; */
/* } */
#varNumericToSymbolicMapping {
    /* background-color: cornflowerblue; */
    width: 50%;
    height: 10%;
    margin: 2px;
    font-size: smaller;
}
/* #log { */
/*     /\* display: none; *\/ */
/*     width: 100%; */
/*     float: left; */
/*     /\* background: #ccc none repeat scroll 0 0; *\/ */
/*     border: 3px solid #666; */
/*     margin: 5px; */
/*     padding: 5px; */
/*     height: 200px; */
/*     position: relative; */
/*     overflow: auto; */
/* } */
#ops {
    display: none;
    width: 100%;
    /* float: left; */
    /* background: #ccc none repeat scroll 0 0; */
    border: 3px solid #666;
    margin: 5px;
    padding: 5px;
    height: 200px;
    position: relative;
    overflow: auto;
}
#vars {
    display: none;
}
#graph {
    clear: both;
    display: block;
    position: relative;
/*     /\* background: #ccc none repeat scroll 0 0; *\/ */
/*     /\* border: 3px solid #666; *\/ */
/*     margin: 5px; */
/*     padding: 5px; */
/*     position: relative; */
/*     /\* <!-- overflow: auto; --> *\/ */
/*     visibility: hidden; */
}

.trace {
    font-family: monospace;
    font-size: smaller;
}

.currentOp {
    background: #00aaff;
    font-style: italic;
}

.playerCommand {
    margin: 5px;
}

.commandButton {
}
.executionFailed {
    color: red;
    font-weight: bold;
}

/* .checksum { */
/*     display: none; */
/* } */
.niceToKnow {
    display: none;
    color: gray;
}
.direction {
    font-weight: bold;
}
.function {
    color: green;
}

.state.changed::before {
    content: "State changed: ";
}
.state.changed {
    /* border-style: solid; */
    /* border-width: 1px; */
    color: black;
    font-weight: bold;
}

.state::before {
    content: "State: ";
}
.state {
    /* border-style: solid; */
    /* border-width: 1px; */
    color: gray;
}
.state .count.changed {
    color: blue;
}
.state .count {
    /* border: 0.5px inset black; */
    background: #cccccc;
}
.state .plus::before {
    content: "\a0+";
}
.state .plus {
    background: #cccccc;
    color: green;
}
.state .minus::before {
    content: "\a0-";
}
.state .minus {
    background: #cccccc;
    color: red;
}
.var {
    color: red;
    font-size: larger;
}
.node {
    color: orange;
}
.iri {
    color: brown;
}
.boolean {
    color: blue;
    font-weight: bolder;
}
.keyword {
    font-variant: small-caps;
    color: crimson;
}
.string {
    color: indigo;
    font-style: oblique;
}
.string::before {
    content: "\"";
}
.string::after {
    content: "\"";
}
.varMapping {
    margin: 1px;
    font-size: smaller;
}
/* #varPopupMenu { */
/*     font-size: smaller; */
/* } */
#varInfo {
    display: flex;
    width: 60%;
    height: 250px;
    /* background-color: lightgrey; */
}
#varMenu {
    /* background-color: cornflowerblue; */
    width: 50%;
    height: 10%;
    margin: 2px;
}
.ui-menu-item {
    font-size: smaller;
}
/* .ui-dialog-title { */
/*     font-size: smaller; */
/* } */

#parameters {
    font-family: monospace;
    font-size: smaller;
}

.define-var {
    font-size: smaller;
}

.use-var {
    font-size: smaller;
}

.token-store {
    font-size: smaller;
}

.ui-dialog-title {
    /* color: red; */
    font-size: 50%;
}
.ui-dialog-content {
    font-size: 50%;
}
